@CHARSET "UTF-8";

.formInputField{

}

.formInputLabel{
	width:90px;
	text-align:right;	
}

.formInputValue > select{
	margin-left:8px;	
}

.formInputValue {
	width:140px;
}
		
.formInputError{
	
}

.formInputErrorMessage{

}